@page
@model SIMS.Pages.Admin.Courses.IndexModel
@{
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Quản lý sinh viên";
}
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Danh sách sinh viên</h1>
    <a asp-page="/Admin/Courses/Create" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
        <i class="fas fa-plus-circle fa-sm text-white-50"></i> Thêm sinh viên
    </a>
</div>

<!-- DataTales Example -->

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Danh sách lớp học</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Mã Lớp Học</th>
                        <th>Tên Lớp Học</th>
                        <th>Ngày bắt đầu</th>
                        <th>Ngày kết thúc</th>
                        <th>Mô tả</th>
                        <th>#</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.CourseList.Count; i++)
                    {
                        var course = Model.CourseList[i];
                        <tr>
                            <td>@i</td>
                            <td>@course.CourseCode</td>
                            <td>@course.CourseName</td>
                            <td>@course.StartDate</td>
                            <td>@course.EndDate</td>
                            <td>@course.Description</td>
                            <td>
                                <a class="anticon anticon-edit btn btn-warning btn-tone m-r-5" asp-page="/Admin/Courses/Edit" asp-route-id="@course.CourseCode">
                                    <i class="fas fa-edit"></i>
                                </a>
                                @*                                 <a class="anticon anticon-delete btn btn-danger btn-tone m-r-5" asp-page="/Admin/Students/Delete" asp-route-id="@student.StudentNo">
                            <i class="fas fa-trash-alt"></i>
                            </a> *@
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModalCenter">
                                    <i class="fas fa-trash-alt"></i>
                                </button>

                                <!-- Modal -->
                                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLongTitle">Xóa thông tin</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                Bạn có muốn xóa ' @course.CourseCode ' không ?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                                                <form method="post" asp-page="/Admin/Courses/Index" asp-page-handler="Delete">
                                                    <input type="hidden" name="studentNo" value="@course.CourseCode" />
                                                    <button type="submit" class="btn btn-danger">Xóa</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>